.main-container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.side-by-side-container {
  display: flex;
}

.post-form,
.side-by-side-container {
  margin-bottom: 20px; 
}

.materials-list,
.post-list {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px; 
  margin: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.256);
  background-color: #e7eff7;
}

.post-form button {
  background-color: #0f7bd3;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}
.post-item {
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.058);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer; /* Add cursor pointer for better UX */
}

.post-item h3 {
  margin-bottom: 8px;
}
.post-item a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the color from the parent element */
  display: block; /* Make the link a block-level element */
  width: 100%; /* Make the link take up the entire width of the card */
  height: 100%; /* Make the link take up the entire height of the card */
}

.materials-list {
  flex: 0.5; /* Adjust the width as needed */
}

button.createbutton {
  font-size: 18px; /* Adjust the font size as needed */
  width: 200px; /* Adjust the width as needed */
  /* Add any other styles you need */
}

button.cancelbutton {
  width: 100px; /* Adjust the width as needed */
  /* Add any other styles you need */
}