.Containerpost {
  display: flex;
  justify-content: center;
  width: 100%;
}
.Container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.like-dislike-container {
  display: flex;
}

.like,
.dislike {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px 10px;
  margin-right: 10px;
}

.like svg,
.dislike svg {
  margin-right: 5px;
}

.like:hover,
.dislike:hover {
  background-color: #f5f5f5;
}
.postContainer {
  margin-top: 20px;
  background-color: bisque;
  width: 820px;

  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.256);
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
}
.posttwoContainer {
  padding: 20px;
}

.materialList {
  display: flex;
  flex-wrap: wrap;
}

.materialItem {
  background-color: #1cbccd;
  color: #fff;
  padding: 8px 16px;
  margin: 8px 8px 0 8px;
  text-decoration: none !important;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }
}
.materialItem:hover {
  text-decoration: none;
}

.postreplies {
  border: 1px solid #bcb9b9af;
  padding: 10px;
  border-radius: 15px;
  margin-top: 20px;
}

.replylist {
  display: flex;
  flex-direction: column;
}

.replyitem {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reply-user {
  margin-top: 10px;
}

.user-label {
  font-weight: bold;
  font-size: small;
  color: #7da1c8;
}

.user-name {
  margin-left: 5px;
  font-size: small;
  color: #7da1c8;
}

.taglist {
  display: flex;
  flex-wrap: wrap;
}

.tagItem {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  margin: 8px;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tagItem:hover {
  background-color: #0056b3;
}
