.formReply {
    background-color: #badfec; 
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  form {
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    width: 60%; 
  }
  
  label {
    margin-bottom: 10px;
    color: #fff; 
  }
  
  textarea {
    flex: 1; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc; 
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: #fff; 
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
  }
  
  button:hover {
    background-color: #0056b3; 
  }
  